@import "../../styles/sandlestrapFW";

ss-collapsegroup
	ss-window
		header
			height 2em
			line-height 2em
			font-size 16px
			font-weight 100
			padding 0 8px
			background tan
			background-image none
			border 1px solid grey
			border-bottom 1px solid lightGrey
			color primary
			
		section
			padding-top 25px