ss-collapsegroup ss-window header{height:2em;line-height:2em;font-size:16px;font-weight:100;padding:0 8px;background:#fafaf0;background-image:none;border:1px solid #b1b1b1;border-bottom:1px solid lightGrey;color:#3f5666}
ss-collapsegroup ss-window section{padding-top:25px}
