ss-button{display:inline;}
ss-button button{background:#8e8e8e;border:none;-webkit-border-radius:4px;border-radius:4px;color:#fff;cursor:pointer;display:inline;-webkit-transition:background-color 200ms ease-out;-moz-transition:background-color 200ms ease-out;-o-transition:background-color 200ms ease-out;transition:background-color 200ms ease-out;padding:4px 8px 5px 8px;}
ss-button button::-moz-focus-inner{border:0;padding:0;margin:0}
ss-button button:hover{background:#808080}
ss-button button:active{background:#797979}
ss-button button:focus{outline:0;box-shadow:0 0 2px 1px #69f}
ss-button button.submit{background:#6db850;}
ss-button button.submit:hover{background:#61a945}
ss-button button.submit:active{background:#5ba041}
ss-button button.cancel{background:#cc6363;}
ss-button button.cancel:hover{background:#c54c4c}
ss-button button.cancel:active{background:#c14141}
