@import "../../styles/sandlestrapFW";
annotation-bg = primary
ss-annotate
    background annotation-bg
    color tan
    padding 10px

span.clicker 
    display block
    background rgba(annotation-bg, 0.6)
    color tan
    border-radius 50%
    line-height 18px
    font-size 8px
    height 20px
    width 20px
    position absolute
    top 0
    right 0
    text-align center
    cursor pointer
    border 1px solid rgba(tan, 0.5)
    
[annotation]
    position relative
    