ss-annotate{background:#69f}
span.clicker{display:block;background:#69f;color:#fff;-webkit-border-radius:50%;border-radius:50%;height:20px;width:20px;position:absolute;top:0;right:0;text-align:center;cursor:pointer}
[annotation]{position:relative}
