@import "../../styles/sandlestrapFW";

ss-notification
	position fixed
	right 0
	top 0
	max-width 250px
	padding 10px

	content
		width 100%

@media (max-width: 300px )
	ss-notification
		width 100%
		max-width 100%
		box-sizing border-box
