@import "../../styles/sandlestrapFW";

ss-window
	div 
		max-width 500px
		background white

	header 
		background #69f
		color #fff
		padding 3px 8px
		border 1px solid #69f
		border-bottom none

		border-top-radius 4px
		background-clip


	section 
		padding 10px
		border 1px solid #ccc
		border-top none
		
		border-bottom-radius 4px
		background-clip padding-box