@import "../../styles/sandlestrapFW";

ss-window
	div 
		max-width 500px
		background white

	header 
		background primary
		color white
		padding 3px 8px
		border 1px solid primary
		border-bottom none

		border-top-radius 4px
		background-clip
		gradient lighten(primary, 10%) primary


	section 
		padding 10px
		border 1px solid grey
		border-top none
		
		border-bottom-radius 4px
		background-clip padding-box