@import "../../styles/sandlestrapFW";

ss-window
	
	header 
		background primary
		color white
		padding 3px 8px
		border 1px solid primary
		border-bottom none

		border-top-radius 4px
		background-clip
		gradient lighten(primary, 10%) primary


	section 
		padding 10px
		border 1px solid grey
		border-top none
		background white
		
		border-bottom-radius 4px
		background-clip padding-box