border-top-radius(rad = 4px)
	-webkit-border-top-right-radius rad
	border-top-right-radius rad

	-webkit-border-top-left-radius rad
	border-top-left-radius rad

border-bottom-radius(rad = 4px)
	-webkit-border-bottom-right-radius rad
	border-bottom-right-radius rad

	-webkit-border-bottom-left-radius rad
	border-bottom-left-radius rad

background-clip()
	-moz-background-clip padding
	-webkit-background-clip padding-box
	background-clip padding-box