@import "reset";
@import "sandlestrapFW";

@keyframes nodeInserted {  
	50% {opacity: 0.99}  
}

.rendered 
	opacity 1

content 
	display inline-block

body > content
	display block
	height 100%
	box-sizing border-box
