@import "reset";
@import "sandlestrapFW";
@import "keyframes";

@-ms-keyframes nodeInserted { 
	// this is causing colisions in chrome when a transition on opacity is inserted
	// but the clip property isn't working in IE, so we put this here.
	50% {opacity: 1} 
}

.rendered 
	opacity 1

content 
	display inline-block

body > content
	display block
	height 100%
	box-sizing border-box
