@import "sandlestrapFW";

@keyframes nodeInserted {  
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }  
}

.rendered 
	opacity 1 !important

content 
	display inline-block
