primary = #3f5666
grey = #b1b1b1
darkGrey = darken(grey,20%)
green = #6db850
red = #cc6363
black = #333
tan = #fafaf0
bg = tan
highlight = #69f

layer1 = 20
layer2 = 120
layer3 = 220
layer4 = 320
layer5 = 420

standardDuration = 300ms