@import "../../styles/sandlestrapFW";

@font-face 
	font-family 'chIconsRegular'
	src url('dependencies/fonts/chicons-regular-webfont.eot')
	src unquote("url('dependencies/fonts/chicons-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dependencies/fonts/chicons-regular-webfont.woff') format('woff'),
		 url('dependencies/fonts/chicons-regular-webfont.ttf') format('truetype'),
		 url('dependencies/fonts/chicons-regular-webfont.svg#chIconsRegular') format('svg');")
	font-weight normal
	font-style normal

ss-icon
	display inline-block
	height 0
	width 0
	margin 0.1em

ss-icon.rendered
	height 0.6em
	width 0.6em
	position relative	
	display inline-block
	cursor pointer
	font-size 24px

	.icLayer 
		position absolute
		font-family 'chIconsRegular'		
		color darkGrey
		transition color 300ms ease-out
		line-height 0.6em

	.ic1 
		color darken(darkGrey,20%)

	&[scheme="dark"]
		.icLayer
			color primary

		&:hover .icLayer
		&.active .icLayer
			darken(primary, 30%)
	
	&:hover .icLayer
	&.active .icLayer
		color primary

	&:hover .icLayer.ic1 
	&:hover .icLayer.ic3
	&.active .icLayer.ic1
	&.active .icLayer.ic3   
		color darken(primary,30%)
	
	&[type="print"] .ic0
	&[type="print"] .ic6
		color darken(darkGrey,20%)

	&[type="print"] .ic1
		color darkGrey


	.ic3 
		color darken(darkGrey,20%)
	
	&[type="print"] .ic2
	&[type="print"] .ic4 
		color white

	&[type="print"] .ic7 
		color white

	&[type="print"]:hover  .icLayer.ic1
	&[type="print"]:hover .icLayer.ic3
	&[type="print"].active  .icLayer.ic1
	&[type="print"].active .icLayer.ic3 
		color primary

	&[type="print"]:hover .icLayer.ic2
	&[type="print"]:hover .icLayer.ic4	
	&[type="print"].active .icLayer.ic2 
	&[type="print"].active .icLayer.ic4
		color white
	
	&[type="print"]:hover .icLayer.ic7 
	&[type="print"].active .icLayer.ic7
		color white

	&[type="print"]:hover .icLayer.ic8 
	&[type="print"].active .icLayer.ic8
		color green

	&[type="print"]:hover .icLayer.ic0
	&[type="print"].active .icLayer.ic0
	&[type="print"]:hover .icLayer.ic6
	&[type="print"].active .icLayer.ic6
		color darken(primary,30%)

	&[type="print"] .icLayer.ic5
	&[type="print"] .icLayer.ic3
	&[type="print"] .icLayer.ic4
		margin 0
		opacity 0

	&[type="print"].active .icLayer.ic5
	&[type="print"].active .icLayer.ic3
	&[type="print"].active .icLayer.ic4
		transition all 1s ease-out
		margin 1ex 0 0 0
		opacity 0.8